.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 0px;
}

.currentTurn {
  margin: 0px;
  font-size: 20px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.players {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.gameOptions {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
