.finish {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0px;
}

.resultsText {
  margin: 20px auto 0;
  font-size: 20px;
  font-weight: 600;
}

.players {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.gameOptions {
  margin-top: 40px;
  display: flex;

  gap: 20px;
}
