.gamerCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  padding: 0 10px;

  &_end {
    align-items: end;
  }
}

.disable {
  opacity: 0.5;
  pointer-events: none;

  border-radius: 20px;
}

.cardTitle {
  font-size: 26px;
  margin-bottom: 0;
}

.match {
  &:first-letter {
    text-transform: uppercase;
  }
}
